<div class="wrapper">

  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <app-sidebar-cmp></app-sidebar-cmp>
  </div>

  <div class="main-panel">
      <app-navbar-cmp></app-navbar-cmp>

      <div class="content">

        <!-- <div class="card">
          <div class="header">
            <h1 class="title">{{ title }}</h1>
          </div>
          <div class="content">
            <button
              class="btn btn-default"
              (click)="change()">change Title</button>
          </div>
        </div> -->

        <button class="btn btn-default" (click)="toggleView = !toggleView">Toggle View</button>
        <app-flight-search *ngIf="toggleView"></app-flight-search>

      </div>
  </div>

</div>
